<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

        {{!-- top -footer -area (All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        <footer>
           <div class="col-12">
               <div class="ff1 col-3">hi@Simplyfying.com</div>
               <div class="ff2 col-6">Built in Los Angeles, California.<br>
               </br>Copyright 2017 Simplyfying</div>
               <div class="ff3 col-3">+919010825403</div>
           </div>
         </footer>
{{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
          </div>
                <section class="copyright"><h4>simplyfying</h4>&copy{{date format="YYYY"}}</section>
                  <a href="{{@blog.url}}">Simplyfying-LosAngels</a>
        </footer>
       </div>



</body>
</html>
